Repository wormhole-foundation/wormhole, changes with the owners that .github/CODEOWNERS names for each.
All owners: @evan-gray, @djb15, @kcsongor, @mdulin2, @gator-boi, @nonergodic, @nik-suri, @johnsaigle, @joelsmith-2019, @kev1n-peters, @panoel, @SEJeff, @Daniel-Aaron-Bloom, @pleasew8t

.github/CODEOWNERS:

# Default

* @evan-gray @djb15

# Chains

/algorand/ @evan-gray @kcsongor
/aptos/ @kcsongor
/bitcoin/ @evan-gray
/cosmwasm/ @mdulin2 @kcsongor
/ethereum/ @gator-boi @kcsongor
/ethereum/env/ @gator-boi @kcsongor @evan-gray
/relayer/ethereum @nonergodic @gator-boi
/near/ @evan-gray @kcsongor
/solana/ @kcsongor 
/sui/ @kcsongor @gator-boi
/terra/ @kcsongor
/wormchain/ @nik-suri @johnsaigle @mdulin2 @joelsmith-2019

# Utilities

/clients/ @kcsongor @kev1n-peters @evan-gray
/lp_ui/ @evan-gray @kev1n-peters
/relayer/generic_relayer @nonergodic @gator-boi
/scripts/ @evan-gray @kcsongor
/sdk/ @evan-gray @kev1n-peters @panoel @SEJeff
/sdk/js-proto-node/ @evan-gray @kev1n-peters
/sdk/js-proto-web/ @evan-gray @kev1n-peters
/sdk/js-query/ @evan-gray @kev1n-peters
/sdk/js-wasm/ @evan-gray @kev1n-peters
/sdk/js/ @evan-gray @kev1n-peters @panoel
/sdk/rust/ @Daniel-Aaron-Bloom
/sdk/vaa/ @evan-gray @panoel @SEJeff
/spydk/ @evan-gray
/testing/ @evan-gray
/wormchain/contracts/tools/ @evan-gray @kev1n-peters @panoel
/wormchain/devnet/ @evan-gray
/wormchain/ts-sdk/ @evan-gray @kev1n-peters @panoel
/deployments @evan-gray @kev1n-peters @panoel

# Protobuf for node

/proto/node/ @evan-gray @panoel

# Guardiand node

## Fallback

/node/ @evan-gray @panoel @SEJeff

## Entrypoint / RPC

/node/cmd/ @panoel @evan-gray

## Transfer Verifier standalone tool

/node/cmd/txverifier/ @djb15 @johnsaigle @mdulin2 @pleasew8t

## DB

/node/pkg/db/ @evan-gray @panoel

## Accountant

/node/pkg/accountant/ @evan-gray @panoel

## Governor

/node/pkg/governor/ @SEJeff @djb15 @johnsaigle @mdulin2 @pleasew8t

## Gateway Relayer

/node/pkg/gwrelayer/ @evan-gray @panoel

## P2P

/node/pkg/p2p/ @evan-gray @panoel

## Consensus / Processor

/node/pkg/processor/ @evan-gray @panoel

## Public RPC

/node/pkg/publicrpc/ @evan-gray @panoel

## Supervisor Framework

/node/pkg/supervisor/ @evan-gray @panoel

## Transfer Verifier

/node/pkg/txverifier/ @djb15 @johnsaigle @mdulin2 @pleasew8t

## Watchers

/node/pkg/watchers @evan-gray @panoel

## Hacks / Tools

/node/hack/ @panoel @evan-gray
/node/hack/governor @SEJeff @djb15 @johnsaigle @mdulin2 @pleasew8t

## Documentation

/docs @evan-gray @SEJeff

## Audit Reports

/audits @djb15 @SEJeff @johnsaigle @mdulin2 @pleasew8t

chore: lint
  node/pkg/watchers/evm/chain_config.go
Owners: @evan-gray, @panoel

ci: Specify permissions on job
  .github/workflows/wormchain-icts.yml
Owners: @evan-gray, @djb15

update nodejs (#4409) (#4410)
  .github/workflows/build.yml
  .nvmrc
  Dockerfile.cli
  Dockerfile.const
  Dockerfile.proto
  clients/js/package-lock.json
  clients/js/package.json
  clients/js/run_parse_tests
  cosmwasm/Dockerfile.deploy
  devnet/tx-verifier/Dockerfile.cast
  devnet/tx-verifier/Dockerfile.tx-verifier-evm
  ethereum/Dockerfile
  near/Dockerfile.deploy
  node/.tool-versions
  relayer/generic_relayer/relayer-engine-v2/Dockerfile
  terra/Dockerfile
  testing/Dockerfile.querysdk.test
  testing/Dockerfile.sdk.test
  testing/Dockerfile.spydk.test
  wormchain/Dockerfile.deploy
Owners: @evan-gray, @djb15, @kcsongor, @kev1n-peters, @mdulin2, @gator-boi, @panoel, @SEJeff, @nonergodic, @nik-suri, @johnsaigle, @joelsmith-2019

Make msg validiation more clear; address code review comments
  node/cmd/txverifier/evm.go
  node/pkg/txverifier/evm.go
  node/pkg/txverifier/evmtypes.go
Owners: @djb15, @johnsaigle, @mdulin2, @pleasew8t

Add guardian set prototxt files and short readme
  guardianset/README.md
  guardianset/mainnetv1/v1.prototxt
  guardianset/mainnetv2/v1.prototxt
  guardianset/mainnetv2/v2.prototxt
  guardianset/mainnetv2/v3.prototxt
  guardianset/mainnetv2/v4.prototxt
Owners: @evan-gray, @djb15

Fix for bugs in the verifySingle functions
  src/evm/WormholeVerifier.sol
Owners: @evan-gray, @djb15

Fix for tests
  test/TestAssembly2.sol
Owners: @evan-gray, @djb15

Update for solana challenge order
  src/solana/programs/verification_v2/src/schnorr_key.rs
  src/solana/tests/verification_v2.ts
Owners: @evan-gray, @djb15

Typo in solana schnorr test public key
  src/solana/tests/verification_v2.ts
Owners: @evan-gray, @djb15

Remove old invalid key comments
  src/solana/tests/verification_v2.ts
Owners: @evan-gray, @djb15

Update TransferVerifier to support checking all messages in a transaction
  node/pkg/txverifier/evm.go
  node/pkg/txverifier/evm_test.go
  node/pkg/txverifier/evmtypes.go
  node/pkg/txverifier/utils.go
Owners: @djb15, @johnsaigle, @mdulin2, @pleasew8t

Add guardian set prototxt files and short readme (#4466)
  guardianset/README.md
  guardianset/mainnetv1/v1.prototxt
  guardianset/mainnetv2/v1.prototxt
  guardianset/mainnetv2/v2.prototxt
  guardianset/mainnetv2/v3.prototxt
  guardianset/mainnetv2/v4.prototxt
Owners: @evan-gray, @djb15

Testnet XRPLEVM SR constants
  sdk/testnet_consts.go
Owners: @evan-gray, @kev1n-peters, @panoel, @SEJeff

formatting
  node/pkg/txverifier/evmtypes.go
Owners: @djb15, @johnsaigle, @mdulin2, @pleasew8t

Add special case for failing on zero size batch.
  src/evm/WormholeVerifier.sol
  test/TestAssembly2.sol
Owners: @evan-gray, @djb15

Expand empty test to cover all verification opcodes
  test/TestAssembly2.sol
Owners: @evan-gray, @djb15
