Repository wormhole-foundation/wormhole, pull requests merged in 2025-05, with the labels that each got.

#4363 ethereum: remove deleted "--no-commit" flag from forge commands
  ethereum/Makefile
  relayer/ethereum/Makefile
Labels: evm, ci

#4364 ci: update golangci-lint to 2.1.5
  .github/workflows/build.yml
Labels: ci

#4374 ci: Fix docker-related errors in Algorand job
  algorand/runPythonUnitTests.sh
Labels: ci, algorand

#4365 docs: Add instructions for enabling flow cancel in the Governor
  docs/governor.md
Labels: documentation, governor

#4273 Docs: Update Guardian Key/Signer Documentation
  cspell-custom-words.txt
  docs/guardian_signer.md
  node/pkg/p2p/p2p.go
  sdk/vaa/structs.go
  whitepapers/0009_guardian_key.md
  whitepapers/0009_guardian_signer.md
  whitepapers/0010_integrity_checkers.md
  whitepapers/0013_ccq.md
Labels: documentation, node

#4357 deps: Replace godo/fswatch with fsnotify/fsnotify
  node/cmd/ccq/permissions.go
  node/cmd/ccq/query_server.go
  node/go.mod
  node/go.sum
Labels: dependencies

#4385 deps: Remove Go-Spew and add new debugging function for VAAs
  node/cmd/debug/vaa.go
  node/cmd/guardiand/adminclient.go
  node/cmd/guardiand/adminverify.go
  node/go.mod
  sdk/vaa/structs.go
Labels: node, dependencies
